body{
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 80px;
}
@media only screen and (min-width: 601px) {
    body{
        padding-bottom: 0;
    }
}
*{
    box-sizing: border-box; /* definit les marge a padding a l'interrieur de la taille*/
}


/*################################## main ########################################*/

main{
    width: 100vw;
    min-height: 100vh;
    margin: auto;
    background-color: #ffffff;
    position: relative;
    display: flex;
}

/*################################## section ########################################*/

section{
    width: 100vw;
    font-size: 5vw;
    list-style-type: none;
    padding: 2em 0;
    display: grid;
    grid: 1fr /1fr 80vw 1fr;
    gap: 1em;
    background-color: #dddddd;
    user-select: none;
}
article{
    grid-column: 2;
    width: 100%;
    height: 0px;
    padding-bottom: 150%;
    position: relative;
}
.absoluteBox{
    position: absolute;
    padding: 1em;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: #ffffff;
    border-radius: 5vw;
    border: outset steelblue 3px;
}
#imgDiv {
    width: 80%;
    background-color: #dddddd;
    margin: auto;
    border-radius: 9999px;
    border: inset steelblue 3px;
}
.absoluteBox > div > img{
    width: 100%;
    display: block;
    padding: 5%;
    transition: filter 0.25s;
}
.absoluteBox:hover > div > img{
    filter: invert(100%) drop-shadow(0 0 3px steelblue);
}
.absoluteBox > h2 > span{
    font-family: "BM";
}

@media only screen and (min-width: 601px) {
    #filterListe{
        min-width: 150px;
    }
    section{
        padding: 2em;
        font-size: 22px;
        grid: 1fr / repeat(auto-fill, 350px) ;
        width: 100%;
        column-gap: 0.5em;
        row-gap: 1em;
        justify-content: space-around;
        border-left: solid #aaaaaa 2px;
    }
    article{
        grid-area: auto;
    }
}
@media only screen and (min-width: 768px) {
    #filterListe{
        min-width: 200px;
    }

}
/*################################## filter liste ########################################*/

#filterListe{
    z-index: 10;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-top: solid #aaaaaa 2px;
    padding-left: 1em;
    transition: height 0.5s;
}
#filtretitle{
    height: 80px;
    width: 95px;
    margin-right: auto;
    display: flex;
}
#filterListe > div > span{
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
#filterListe > div > img{
    height: 25px;
    margin: auto;
}
#filterUl{
    line-height: 25px;
    list-style-type: circle;
    user-select: none;
}
#filterUl > li{
    width: 75px;
    border-radius: 9999px;
    text-align: center;
}
#filterUl > li:hover{
    background-color: #dddddd;
}

#openFilter{
    position: fixed;
    bottom: 10px;
    background-image: url("https://12dorian12.github.io/Projet_TLW/media/litUpArrow.png");
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;
    padding: none;
    transition: transform 0.5s;
    /*centrer un element fixed est plus dificle*/
    left: 50%;
    margin-left: -15px;
}

@media only screen and (min-width: 601px) {
    #filterListe{
        position: sticky;
        top: 0px;
        width: 150px;
        border-top: none;
        padding: 0px;
    }
    #filtretitle{
        margin: auto;
        width: 90px;
        display: flex;
    }
    #openFilter{
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    #filterListe{
        width: 200px;
    }

}
