@font-face {
    font-family: "BM";
    src: url("https://12dorian12.github.io/Projet_TLW//media/BerthaMelanie.ttf");
}
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box; /* definit les marge a padding a l'interrieur de la taille*/
}
/*################################## Header ########################################*/

header{
    width: 100%;
    height: 80px;
    border-bottom: 2px solid steelblue;
    background-color: #1B2631;
    display: flex;
    font-size: 15px;
}
header > div{
    height: 100%;
    margin-right: auto;
    display: flex;
}
header > div > h1 {
    margin: auto;
    height: 100%;
    display: flex;
}
header > div > h1 > a{
    color: steelblue;
    font-family: "BM";
    margin: auto 0.3em auto 0.5em;
    text-decoration: none;
}
header > div > img{
    margin: auto 0;
    width: 2em;
}
@media only screen and (min-width: 601px) {
    header{
        height: 80px;
        font-size: 25px;
    }
}

/*################################## Nav ########################################*/


header > nav{
    margin-left: auto;
    margin-right: 1em;
    width: 30vw;
    display: flex;
    justify-content: space-around;
}
header > nav > a {
    border: 1px solid white;
    border-radius: 9999px;
    text-decoration: none;
    color: white;
    transition: background-color 0.5s, filter 0.5s;
    padding: 0.5em;
    display: flex;
    margin: auto;
}
header > nav > a > img{
    width: 1.5em;
    display: block;
    margin: auto;
}
header > nav > a > span{
    margin: auto 10px;
    color: inherit;
    display: none;
    font-size: 20px;
}
header > nav > a:hover{
    filter: invert(100%);
    background-color: black;
}
@media only screen and (min-width: 601px) {
    header > nav{
        width: 200px;
    }
}
@media only screen and (min-width: 768px) {
    header > nav{
        width: 350px;
    }
    header > nav > a > span{
        display: block;

    }
    header > nav > a > img{
        width: 20px;
    }
}
/*################################## Footer ########################################*/

footer{
    width: 100%;
    border-top: 1px solid black;
    display: flex;
    bottom: 0;
    background-color: #1B2631;
}
footer > a{
    margin: 1em auto;
    color: white;
}


#toTheTop{
    z-index: 12;
    position: fixed;
    bottom: 10px;
    right: 25px;
    background-image: url("https://12dorian12.github.io/Projet_TLW/media/upArrow.png");
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    visibility: hidden;
    margin: none;
    padding: none;
}
