body{
    margin: 0;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
*{
    box-sizing: border-box; /* definit les marge a padding a l'interrieur de la taille*/
}

/*################################## main ########################################*/

main{
    min-height: 100vh;
    background-color: white;
    display: flex;
}
#contenaire{
    margin: auto;
    width: 100vw;
    background-color: white;
    display: grid;
    grid: 1fr /80vw;
    justify-content: space-around;
    gap: 25px;
}

/*################################## canvas ########################################*/
#canvasCont{
    font-size: 50px;
    margin-top: 1em;
    height: 0;
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}
#customCanvas1{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1B2631;   
}
#customCanvas2, #customCanvas3{
    position: absolute;
    width: 100%;
    height: 100%;
}

/*################################## sectoin prix ########################################*/

#sectionPrix{
    background-color: white;
    grid-row: 3;
    grid-column: 1;
    font-size: 25px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 1em;
}
#prix{
    grid-row: 1;
    grid-column: 1;
    font-weight: bold;
}

#quantiter{
    grid-row: 1;
    grid-column: 2;
    display: flex;
}
#numQuant, #addMore, #subLess{
    border: 1px solid black;
    user-select: none;
}
#numQuant{
    width: 50px;
    text-align: center;
}
#addMore{
    width: 25px;
    text-align: center;
    border-left: none;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}
#subLess{
    width: 25px;
    text-align: center;
    border-right: none;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}
#subLess:hover, #addMore:hover{
    background-color: #dddddd;
}

.buyBtn{
    grid-row: 2;
    grid-column: 1/3;
    border-radius: 9px;
    border: none;
    width: 250px;
    height: 50px;
    font-size: 25px;
    transition: filter 0.5s;
    background-color: #1B2631;
    color: #dddddd;
}
.buyBtn:hover{
    filter: invert(100%) drop-shadow(0 0 1vw steelblue);
}
.achat{
    z-index: 3;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: 0.2em;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*################################## formulaire ########################################*/

#customForm{
    background-color: white;
    grid-row: 2;
    font-size: 25px;
    font-weight: bold;
}

#name{
    text-align: center;
    font-size: 35px;
    margin-bottom: 0.5em;
}
.formLigne{
    border-top: 1px solid rgb(180, 180, 180);
    padding: 1em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ligneName{
    font-size: 25px;
    display: flex;
    align-items: center;
}
.btnText, .btnGText, .btnG2Text{
    border: 2px solid white;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    background-color: white;
    transition: border-color 0.5s, background-color 0.25s;

}
.btnGText, .btnG2Text{
    font-size: 12px;
    width: 70px;
}
.btnText:hover, .btnGText:hover, .btnG2Text:hover{
    background-color: #dddddd;
}

.allInput{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.btnCircle{
    font-size: 25px;
    width: 37px;
    height: 37px;
    border-radius: 9999px;
    background-size: 37px 37px;
    border: 2px solid #dddddd;
    transition: width 0.25s, height 0.25s, background-size 0.25s;
}
.cercleCouleur, .cercleCouleur2, .cercleMotif{
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    transition: border-color 0.5s;
}
.btnCircle:hover{
    width: 42px;
    height: 42px;
    background-size: 42px 42px;
}
#btnLien{
    width: 90px;
    height: 50px;
}

#btnCentre{
    width: 100%;
    display: flex;
    justify-content: center;
}

#reset{
    height: 50px;
    width: 70%;
    max-width: 15em;
    font-size: 25px;
    font-weight: bold;
    background-color: #1B2631;
    color: white;
    border-radius: 99px;
}

.motif1{
    background-image: url(https://12dorian12.github.io/Projet_TLW/media/imageMotif/uni.png);
}
.motif2{
    background-image: url(https://12dorian12.github.io/Projet_TLW/media/imageMotif/diagonal.png);
}
.motif3{
    background-image: url(https://12dorian12.github.io/Projet_TLW/media/imageMotif/careau.png);
}
.motif4{
    background-image: url(https://12dorian12.github.io/Projet_TLW/media/imageMotif/carre.png);
}
.motif5{
    background-image: url(https://12dorian12.github.io/Projet_TLW/media/imageMotif/moitier.png);
}

@media only screen and (min-width: 601px) {
    #contenaire{
        width: 80%;
        grid: 3fr 1fr / 2fr 3fr;
    }
    #canvasCont{
        grid-row: 1;
        grid-column: 1;
    }
    #sectionPrix{
        grid-row: 2;
        grid-column: 1;
    }
    #customForm{
        padding: 1em;
        grid-row: 1/3;
        grid-column: 2/3;
    }
    #name{
        text-align: start;
    }
    .allInput{
        justify-content: flex-end;
    }
    .formLigne{
        padding: 1em;
    }
}
@media only screen and (min-width: 768px) {
    #customForm{
        font-size: 25px;
    }
    #name{
        font-size: 50px;
    }
    .btnGText, .btnG2Text{
        font-size: 15px;
        width: 90px; 
    }
}