body{
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    box-sizing: border-box; /* definit les marge a padding a l'interrieur de la taille*/
}

main{
    width: 100vw;
    min-height: 100vh;
    padding-top: 1em;
    padding-bottom: 1em; 
    background-color: #dddddd;
    position: relative;
}
#errorMsg{
    color: red;
    font-style: italic;
    font-size: 0.7em;
}
#bon{
    background-color: white;
    width: 80vw;
    border-radius: 25px;
    margin: auto;
    font-size: 25px;
}
.endText{
    text-align: end;
}

/*################################## top info ########################################*/


#topInfo{
    font-size: 0.55em;
    padding: 1em;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
#topInfo > *{
    margin-bottom: 0.1em;
}
#h1bon{
    color: steelblue;
}


/*################################## tab info ########################################*/


#tabInfo{
    font-size: 0.6em;
    margin: 1em auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#caseDroit{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#caseDroit > *{
    margin: 0.5em;
}
#caseGauche{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#caseGauche > *{
    margin: 0.5em;
}
#bon span{
    border-bottom: solid steelblue 2px;
    font-weight: normal;
}
#bon p{
    font-weight: bold;
}

/*################################## tab panier ########################################*/

#hideTab{
    width: 80%;
    margin: auto;
    overflow-x: scroll;
}
#tabPanier{
    width: 100%;
    min-width: fit-content;
    font-size: 0.8em;
    display: grid;
    grid-template-columns: 5fr 1fr 3fr 2fr 2fr;
    border: solid steelblue 1px;
}
#tabPanier > div{
    border: solid steelblue 1px;
}
.title{
    background-color: #1B2631;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5em 0;
    font-size: 0.7em;
    font-weight: bold;
}
.ligne{
    padding: 0.1em;
    font-size: 0.8em;
}
.quantLigne, .dateLigne{
    text-align: center;
}


/*################################## tab fin ########################################*/


#tabFin{
    font-size: 0.6em;
    margin: 1em auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
}
#prixSection{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#prixSection > *{
    margin: 0.5em;
}
#Remarque{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#Remarque > *{
    margin: 0.5em;
}

/*################################## tab prix ########################################*/

.prix{
    border-bottom: solid steelblue 2px;
    min-width: 10em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 0.5em;
}
.prixDiv{
    display: flex;
    flex-wrap: wrap;
    text-align: end;
    justify-content: flex-end;
}
#totalDiv{
    font-weight: bold;
}

/*################################## tab Remarque ########################################*/


#remarqueSoc > *{
    font-weight: normal;
    margin: 0;
    font-style: italic;
    font-size: 0.7em;
}
#rogner{
    width: 300px;
    height: 200px;
    overflow: hidden;
    border: solid steelblue 2px;
    margin: 2em auto;
}
iframe{
    width: 500px;
    height: 500px;
    border: 0;
    margin-left: -150px;
    margin-top: -150px;
}



@media only screen and (min-width: 601px) {
    #topInfo{
        font-size: 0.8em;
    }
    #topInfo > *{
        margin: 0;
    }
}
@media only screen and (min-width: 768px) {
    #tabFin{
        grid-template-columns: 1fr 1fr;
    }
    #topInfo{
        font-size: 1em;
    }
}