body{
    margin: 0;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
*{
    box-sizing: border-box; /* definit les marge a padding a l'interrieur de la taille*/
}

/*################################## Main ########################################*/
main{
    width: fit-content;
    min-height: 100vh;
    display: flex;
    margin: 1em auto;
    flex-direction: column;
}

 /*################################## Section Panier Liste ########################################*/
.slip{
    width: 80vw;
    max-width: 500px;
    height: 250px;

    display: grid;
    grid: 3fr 1fr/ 100px 1fr 100px;
    border-bottom: 1px rgb(180, 180, 180) solid;
    
    grid-column: 1;
    font-size: 16px;
    margin-bottom: 1em;
    padding-bottom: 1em;
}
.photo{
    width: 100px;
    height: 100px;
    grid-column: 1;
    grid-row:1 ;
    align-self: top;
    justify-self: start;
    position: relative;
    background-color: #1B2631;
    border-radius: 10px;
}
#img1, #img2, #img3{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;left: 0;
}
.nom{
    grid-column: 2;
    grid-row:1 ;
    justify-self: start;
    align-self: top;
    padding-top: 1em;
    padding-left: 0.7em;
}
.prix{
    grid-column: 3;
    grid-row:1 ;
    justify-self: end;
    align-self: top;
    padding-top: 1em;
}

/*################### Bouton Poubelle ###################*/
.imgPoub>img{
    width: 50px;
	height: 50px;
}
.imgPoub{
    grid-column: 3;
    grid-row:2 ;
    justify-self: end;
    align-self: top;
    width: 50px;
	height: 50px;

    padding: 0;
    background-color: white;
    margin: none;
    text-decoration: none;
    border: none;
}
/*################### Bouton Quantité ###################*/
.quantiter{
    grid-column: 1;
    display: flex;
    height: 1.5em;
    font-size: 17px;
    align-self: end;
    justify-self: start;
}
.numQuant, .addMore, .subLess{
    border: 1px solid black;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.numQuant{
    width: 40px;
}
.addMore{
    width: 25px;
    border-left: none;
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}
.subLess{
    width: 25px;
    border-right: none;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
}
.subLess:hover, .addMore:hover{
    background-color: #dddddd;
}

/*################################## Section Paiement ########################################*/
#paiement{
    position: sticky;
    top: -1em;
    height: fit-content;
    background-color: #dddddd;

    border-radius: 1em;
    font-size: 20px;
    width: 300px;
    padding-top: 2em;
} 
#ligneP {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    font-weight: bold;
    font-size: 25px;
}
#prixTot{
    margin-left: 1em;
}
#ligneD {
    margin-top: 2em;
    display: flex;
    font-size: 17px;
}
#dateLiv{
    border: none;
    background-color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    width: 7em;
}
#dateLiv::-webkit-calendar-picker-indicator {
    margin: 0;
}

#modeExp{
    font-size: 17px;
}
#bg{
    background-color: #dddddd;
    width: fit-content;
    border-radius: 1em;
    margin-left: 0em;
}

/*################### Bouton Commander ###################*/
#bu {
    display: block;
    background-color: #1B2631;
    height: 2em;
    width: 10em;
    color: white;
    border-radius: 9999px;
    font-size: 25px;
    font-weight: bold;
    margin: 1em auto;
}

@media only screen and (min-width: 950px){
    main{
        flex-direction: row;
    }
    .photo{
        width: 150px;
        height: 150px;
    }
    #img1, #img2, #img3{
        width: 150px;
        height: 150px;
    }
    .slip{
        grid: 3fr 1fr/ 150px 1fr 150px;
        font-size: 20px;
    }
    #bg{
        margin-left: 5em;
    }
}